section.other-posts
    .container
        .page-content_with-sidebar
            ul
                li
                    div.other-posts-card
                        .other-posts-card__image
                            img(src='/images/post-1.png')
                        div.other-posts-card__content
                            div.other-posts-card__date 08.01.2019
                            div.other-posts-card__chips
                                a.chip Биография
                            h3 Name heading Name heading1
                            div.other-posts-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labo...
                        div.other-posts-card__link
                            a.link-with-icon
                                p Подробнее
                                img(src="/images/next.svg" alt="Подробнее")
                li
                    div.other-posts-card
                        img.other-posts-card__image(src='/images/post-2.png')
                        div.other-posts-card__content
                            div.other-posts-card__date 08.01.2019
                            div.other-posts-card__chips
                                a.chip Биография
                            h3 Name heading Name heading1
                            div.other-posts-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labo...
                        div.other-posts-card__link
                            a.link-with-icon
                                p Подробнее
                                img(src="/images/next.svg" alt="Подробнее")

                li
                    div.other-posts-card
                        img.other-posts-card__image(src='https://upload.wikimedia.org/wikipedia/commons/b/bf/Mona_Lisa-restored.jpg')
                        div.other-posts-card__content
                            div.other-posts-card__date 08.01.2019
                            div.other-posts-card__chips
                                a.chip Биография
                            h3 Name heading Name heading1
                            div.other-posts-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labo...
                        div.other-posts-card__link
                            a.link-with-icon
                                p Подробнее
                                img(src="/images/next.svg" alt="Подробнее")


            .sidebar-imitator
