mixin post-card(title, description, img, tag)
    .post-card
        .post-card__image
            img(src=`${img}`)
        div.post-card__content
            div.post-card__chips
                a.chip Факты
                p.date 08.01.2019
            h3= title
            div.post-card__description= description
