header#header-mobile

    .toolbar
        button.menu-trigger-button
            img(src="/images/burger-menu.svg" alt="Открыть меню")
        .spacer
        button.search-trigger-button
            img(src="/images/search2.svg" alt="Поиск")


#popup-menu-mobile
    ul
        li.active
            a История
        li
            a Хроника
        li
            a Преступления
        li
            a Война на уничтожение
        li
            a Итог
        li
            a Другие процессы
        li
            a 21 век
        li
            a Смотреть
        li
            a(href="https://vk.com/nurnberg1945")
                img(src="/images/vk.svg")

    button#popup-menu-mobile__close
        img(src="/images/close.svg" alt="Закрыть меню")
