header#header

    include ../header-quote/header-quote

    .banner
        .banner__overlay
        .banner__headers
            .container
                a(href="/")
                    span Нюрнберг
                    strong без срока давности
        nav.banner__nav
            .container
                ul
                    li.active
                        a История
                        .decor
                    li
                        a Хроника
                        .decor
                    li
                        a Преступления
                        .decor
                    li
                        a Война на уничтожение
                        .decor
                    li
                        a Итог
                        .decor
                    li
                        a Другие процессы
                        .decor
                    li
                        a 21 век
                        .decor
                    li
                        a Смотреть
                        .decor


                .search-field
                    input(placeholder="Поиск...")
                    img(src="/images/search.svg" alt="Поиск...")
