#sidebar
    form


        .sidebar-theme-block
            h5 Темы
            .sidebar-theme-block__links
                div
                    a СС
                div
                    a Концлагеря
                div
                    a Персоны
                div
                    a Судьи
                div
                    a Хатынь
                div
                    a Биографии
                div
                    a Фотографии
                div
                    a Видеолекция
            .buttons
                a.link-with-icon
                    p Все темы
                    img(src="/images/next.svg" alt="Все темы")

        img.divider-decorated(src="/images/divider-decorated.svg")

        .sidebar-theme-block
            h5 Регионы
            .sidebar-theme-block__links
                div
                    a Германия
                div
                    a СССР
                div
                    a Польша
                div
                    a Белоруссия
                div
                    a Заголовок региона 5
                div
                    a Заголовок региона 6
                div
                    a Заголовок региона 7
                div
                    a Заголовок региона 8
            .buttons
                a.link-with-icon
                    p Все регионы
                    img(src="/images/next.svg" alt="Все регионы")

        .sidebar-adv РЕКЛАМНЫЙ БАННЕР

