.footer-mobile-adv РЕКЛАМНЫЙ БАННЕР


footer
    .container
        .footer__nav
            .footer__main-info
                a.logo
                    span Нюрнберг
                    strong без срока давности
                .socials
                    a(href="https://vk.com/nurnberg1945") Следите за проектом ВКонтакте
            .footer__main-links
                .footer__main-links-block
                    a История
                    a Хроника
                    a Преступления
                    a Война на уничтожение
                .footer__main-links-block
                    a Итог
                    a Другие процессы
                    a 21 век
                    a Смотреть
            .footer__secondary-links
                .footer__secondary-links-block
                    a Карта сайта
                    a Все статьи
                    a Поиск по сайту
                    a О сайте
                    a Контакты
        .divider
        .footer__legal-info
            strong ©2020 - Нюрнберг. без срока давности
            p
              |  Все права на публикуемые аудио, видео, графические и текстовые материалы принадлежат их владельцам. При полном или частичном использовании любых материалов <a href=''>сайта</a>.
              |  <br/> Отдельные материала сайта могут содержать информацию, не предназначенную для пользователей до <b>18 лет</b>.
