#header-quote

    .quote
        .container
            .quote__img
            .quote__content
                strong ...Мы должны делать все от нас зависящее, чтобы преступные нацистские доктрины навсегда остались в прошлом, чтобы выводы Нюрнбергского трибунала были и сегодня незыблемы
                p Владимир Путин, Президент Российской Федерации


